<div class="container my-3">
    <form action="/productos" method="post" class="my-5">
      <h2 class="fs-4">A침adir Producto (Admin)</h2>
      <label class="h5 my-2" for="title">Titulo</label>
      <input class="form-control w-25" type="text" id="title" name="title" placeholder="Titulo" required>
      <label class="h5 my-2" for="price">Precio</label>
      <input class="form-control w-25" type="number" id="price" name="price" placeholder="Precio" step=".01" min="0.01" required>
      <label class="h5 my-2" for="category">Category</label>
      <input list="category" class="form-control w-25" name="category" placeholder="Seleccione Categoria" required>
        <datalist id="category">
          <option value="GPUs">
          <option value="Fuentes">
          <option value="Motherboards">
          <option value="Coolers">
          <option value="Risers">
          <option value="Rigs">
          <option value="ASICs">
        </datalist>
      <label class="h5 my-2" for="description">Descripci칩n</label>
      <input class="form-control w-25" type="text" id="description" name="description" placeholder="Descripci칩n" required>
      <label class="h5 my-2" for="thumbnail">URL de imagen</label>
      <input class="form-control w-25" type="text" id="thumbnail" name="thumbnail" placeholder="URL" required>
      <label class="h5 my-2" for="stock">Stock</label>
      <input class="form-control w-25" type="number" id="stock" name="stock" placeholder="Stock" min="1" required>
      <input class="p-2 btn-view mt-3" type="submit" value="A침adir" class="button">
    </form>
</div>