<div class="card-body cart my-5">
    <div class="col-sm-12 empty-cart-cls text-center">
        <h1 class="fs-1">✔</h1>
      <h3><strong><%= message %></strong></h3>
      <a href="/<%= href %>"><button type="button" class="my-3 px-3 btn-view fs-5">OK</button></a>
    </div>
</div>